swagger: "2.0"
info:
  version: 1.0.0
  title: Product API
  description: eCom Product API fro product related information
  contact:
    name: Ivan Zhyvilov
    email: ivan.zhyvilov@adidas-group.com
host: www.adidas.co.uk
basePath: /api
schemes:
  - http
produces:
  - application/json; charset=utf-8
paths:
  /products/{pid}:
    get:
      description: |
        Get eCom Product information over API 
      operationId: getproduct
      parameters:
        - name: pid
          in: path
          description: The ID of the product 
          required: true
          type: string
          x-example: BB1305
      responses:
        200:
          description: PAPI successful response
          schema:
            $ref: '#/definitions/product_found_response'
        default:
          description: Product not found
          schema:
            $ref: '#/definitions/product_not_found_response'
definitions:
  product_found_response:
    required:
      - id
      - name
      - model_number
      - product_type
      - availability_status
      - meta_data
    properties:
      id:
        type: string
        description: Article master ID
        minLength: 2
        maxLength: 6
      name:
        type: string
        description: Localized product title
      model_number:
        type: string
        description: Product Model Number
        minLength: 5
        maxLength: 5
      product_type:
        type: string
        description: Type of the given product. Possible values "inline","miadidas","yrReebok","flash","hype"
        enum:
          - inline
          - miadidas
          - yrreebok
          - flash
          - hype
      meta_data: 
        $ref: '#/definitions/meta_data_definition'
      availability_status:
        type: string
        description: The status of the product. Possible values are "IN_STOCK". "NOT_AVAILABLE", "PREORDER", "BACKORDER"
        enum:
          - IN_STOCK
          - NOT_AVAILABLE
          - PREORDER
          - BACKORDER
      variation_list:
        type: array
        description: List of product variations
        items:
          $ref: '#/definitions/variation_list_definition'
      view_list:
        type: array
        description: List of product views including images and video.
        items:
          $ref: '#/definitions/view_list_definition'
      pricing_information:
        type: object
        description: Price details information
        items:
          $ref: '#/definitions/pricing_information_definition'
      attribute_list:
        type: object
        description: List of product related atributes 
        items:
          $ref: '#/definitions/attribute_list_definition'
    example:
      id: C77124
      name: Superstar Shoes
      model_number: JOA72
      product_type: inline
      meta_data:
        page_title: adidas Superstar Shoes - White | adidas UK
        site_name: adidas United Kingdom
        description: Shop for Superstar Shoes - White at adidas.co.uk!
        keywords: Superstar Shoes
        canonical: http://www.adidas.co.uk/superstar-shoes/C77124.html
        robots: noindex, follow
      availability_status: IN_STOCK
      variation_list:
        sku: C77124_530
        size: XL
        availability: 255
        max_order_quantity: 10
        availability_status: IN_STOCK
      view_list:
        type: standard
        image_url: https://sits-pod14-adidas.demandware.net/zoom/C77124_01_standard.jpg
        video_url: http://s7g10.scene7.com/C77124_product_video_720.mp4
      pricing_information:
        standard_price: 99.95
        sale_price: 79.95
      attribute_list:
        badge_text: -30 %
        badge_style: sale
        rating_avg: 96
        rating_count: 146
        brand: Originals
        category: Shoes
        collection: Lifestyle
        color: Core Black/Footwear White/Gum
        gender: U
        personalizable: true
        customizable: false
        pricebook: adidas-GB-listprices
        sale: true
        outlet: true
        sport: 
          - Running
          - Lifestyle
        size_chart_link: /Sites-adidas-GB-Site/en_GB/Page-Include?cid=size-chart-size-shoes
        
  attribute_list_definition:
    required:
      - personalizable
      - customizable
      - sale
      - outlet
      - pricebook
      - sport
    properties:
      badge_text:
        type: string
        description: The text displayed in the badge
      badge_style:
        type: string
        description: The style of the badge.
      rating_avg:
        type: number
        description: Average rating on a scale of 1-100
        minimum: 0
        maximum: 100
      rating_count: 
        type: number
        description: The number of ratings
      brand:
        type: string
        description: The brand to which this product belongs
      category:
        type: string
        description: The category of the product
      collection:
        type: string
        description: The collection this product belongs to 
      color:
        type: string
        description: The branded color of the product
      gender: 
        type: string
        description: The gender the product is for men, women, unisex, kids
      personalizable:
        type: boolean
        description: Is the product personalizable
      customizable: 
        type: boolean
        description: Is the product customizable
      pricebook: 
        type: string
        description: The price book applied to the product
      sale:
        type: boolean
        description: Is the product on sale
      outlet:
        type: boolean
        description: Is this an outlet product
      sport:
        type: array
        description: The sports this product can be used for
        items:
          type: number
      size_chart_link: 
        type: string
        description: The relative URL to the size-chart
        
  pricing_information_definition:
    required:
      - standard_price
    properties:
      standard_price: 
        type: number
      sale_price: 
        type: number
        
  view_list_definition:
    required:
      - type
      - image_url
    properties:
      type: 
        type: string
        enum:
          - standard
          - model
          - detail
          - productvideo
      image_url: 
        type: string
      video_url: 
        type: string
        
  variation_list_definition:
    required:
      - sku
      - size
      - availability
      - max_order_quantity
      - availability_status
    properties:
      sku: 
        type: string
        maxLength: 10
        minLength: 7
      size: 
        type: string
      availability: 
        type: number
      max_order_quantity: 
        type: number
      availability_status: 
        type: string
        enum:
          - IN_STOCK
          - NOT_AVAILABLE
          - PREORDER
          - BACKORDER
          
  meta_data_definition:
    required:
      - page_title
    properties:
      page_title: 
        type: string
      site_name: 
        type: string
      description: 
        type: string
      keywords: 
        type: string
      canonical: 
        type: string
      robots: 
        type: string
        
  product_not_found_response:
    required:
      - success
      - error
    properties:
      success:
        type: string
      error:
        type: integer
    example:
      success: false
      error: 404