swagger: "2.0"
info:
  version: 1.0.0
  title: Product API
  description: eCom Product API fro product related information
  contact:
    name: Ivan Zhyvilov
    email: ivan.zhyvilov@adidas-group.com
host: www.adidas.co.uk
basePath: /api
schemes:
  - http
produces:
  - application/json; charset=utf-8
paths:
  /products/{pid}:
    get:
      description: |
        Get eCom Product information over API 
      operationId: getproduct
      parameters:
        - name: pid
          in: path
          description: The ID of the product 
          required: true
          type: string
          x-example: BB1305
      responses:
        200:
          description: PAPI successful response
          schema:
            $ref: '#/definitions/product_found_response'
        default:
          description: Product not found
          schema:
            $ref: '#/definitions/product_not_found_response'
definitions:
  product_found_response:
    required:
      - id
      - name
      - model_number
      - product_type
      - availability_status
      - meta_data
    properties:
      id:
        type: string
        description: Article master ID
        minLength: 2
        maxLength: 6
      name:
        type: string
        description: Localized product title
      model_number:
        type: string
        description: Product Model Number
        minLength: 5
        maxLength: 5
      product_type:
        type: string
        description: Type of the given product. Possible values "inline","miadidas","yrReebok","flash","hype"
        enum:
          - inline
          - miadidas
          - yrreebok
          - flash
          - hype
      meta_data: 
        $ref: '#/definitions/meta_data_definition'
      availability_status:
        type: string
      variation_list:
        type: array
        description: List of product variations
        items:
          $ref: '#/definitions/variation_list_definition'
      view_list:
        type: array
        description: List of product variations
        items:
          $ref: '#/definitions/view_list_definition'
      pricing_information:
        type: object
        description: Price details information
        items:
          $ref: '#/definitions/pricing_information_definition'
    example:
      id: C77124
      name: Superstar Shoes
      model_number: JOA72
      product_type: inline
      meta_data:
        page_title: adidas Superstar Shoes - White | adidas UK
        site_name: adidas United Kingdom
        description: Shop for Superstar Shoes - White at adidas.co.uk! See all the styles and colours of Superstar Shoes - White at the official adidas UK online store.
        keywords: Superstar Shoes
        canonical: http://www.adidas.co.uk/superstar-shoes/C77124.html
        robots: noindex, follow
      availability_status: IN_STOCK
      variation_list:
        sku: C77124_530
        size: XL
        availability: 255
        max_order_quantity: 10
        availability_status: IN_STOCK
      view_list:
        type: standard
        image_url: https://sits-pod14-adidas.demandware.net/zoom/C77124_01_standard.jpg
        video_url: http://s7g10.scene7.com/C77124_product_video_720.mp4
  meta_data_definition:
    required:
      - page_title
    properties:
      page_title: 
        type: string
      site_name: 
        type: string
      description: 
        type: string
      keywords: 
        type: string
      canonical: 
        type: string
      robots: 
        type: string
  variation_list_definition:
    required:
      - sku
      - size
      - availability
      - max_order_quantity
      - availability_status
    properties:
      sku: 
        type: string
        maxLength: 10
        minLength: 7
      size: 
        type: string
      availability: 
        type: number
      max_order_quantity: 
        type: number
      availability_status: 
        type: string
        enum:
          - IN_STOCK
          - NOT_AVAILABLE
          - PREORDER
          - BACKORDER
  view_list_definition:
    required:
      - type
      - image_url
    properties:
      type: 
        type: string
        enum:
          - standard
          - model
          - detail
          - productvideo
      image_url: 
        type: string
      video_url: 
        type: string
  pricing_information_definition:
    required:
      - standard_price
    properties:
      standard_price: 
        type: number
      sale_price: 
        type: number
  product_not_found_response:
    required:
      - success
      - error
    properties:
      success:
        type: string
      error:
        type: integer
    example:
      success: false
      error: 404