swagger: "2.0"
info:
  version: 1.0.0
  title: Product API
  description: eCom Product API fro product related information
  contact:
    name: Ivan Zhyvilov
    email: ivan.zhyvilov@adidas-group.com
host: www.adidas.co.uk
basePath: /api
schemes:
  - http
produces:
  - application/json; charset=utf-8
paths:
  /products/{pid}:
    get:
      description: |
        Get eCom Product information over API 
      operationId: getproduct
      parameters:
        - name: pid
          in: path
          description: The ID of the product 
          required: true
          type: string
          default: BB1305
          x-example: BB1305
      responses:
        200:
          description: PAPI successful response
          schema:
            $ref: '#/definitions/product_found'
        404:
          description: Product not found
          schema:
            $ref: '#/definitions/product_not_found'
definitions:
  product_found:
    required:
      - id
      - name
      - model_number
      - product_type
      - availability_status
      - meta_data
    properties:
      id:
        type: string
        minLength: 2
        maxLength: 6
      name:
        type: string
      model_number:
        type: string
        minLength: 5
        maxLength: 5
      product_type:
        type: string
      meta_data: 
        $ref: '#/definitions/product_meta_data'
      availability_status:
        type: string
      variation_list:
        type: array
        description: List of product variations
        items:
          $ref: '#/definitions/product_variations'
    example:
      id: C77124
      name: Superstar Shoes
      model_number: JOA72
      product_type: inline
      meta_data:
        page_title1: title some
      availability_status: IN_STOCK
  product_meta_data:
    properties:
      page_title: 
        type: string
      site_name: 
        type: string
      description: 
        type: string
      keywords: 
        type: string
      canonical: 
        type: string
      robots: 
        type: string
  product_variations:
    properties:
      sku: 
        type: string
      size: 
        type: string
      availability: 
        type: number
      max_order_quantity: 
        type: number
      availability_status: 
        type: string
  product_not_found:
    required:
      - success
      - error
    properties:
      success:
        type: string
      error:
        type: integer
    example:
      success: false
      error: 404